---
import Card from "./Card.astro";
import Heading from "../common/Heading.astro";

const { t } = Astro.props;
const contestData = t.contest.contest;
---

<section id="contest" class="mx-auto flex w-full max-w-7xl flex-col gap-4 py-16">
  <Heading t={t?.contest?.title} class="pt-16" />
  <div class="px-4 flex flex-col gap-4">
    {
      contestData.map((c:any) => (
        <Card
          title={c.title}
          description={c.description}
          points={c.points}
          image={c.image}
          alt={c.title}
          location={c.location}
          href={c.href}
        />
      ))

    }
  </div>
</section>
