---
import { Image } from "astro:assets";

const { src, alt, href, title, description } = Astro.props;
---

<article
  class="flex flex-col overflow-hidden rounded-2xl bg-white shadow-sm transition-transform motion-safe:hover:scale-[1.01] motion-safe:hover:shadow-md lg:h-full"
>
  <figure class="relative aspect-[3/4] w-full overflow-hidden">
    <a
      href={href}
      class="block focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500"
    >
      <Image
        src={src}
        alt={alt}
        class="h-full w-full object-cover select-none"
        decoding="async"
        sizes="(min-width:1024px) 25vw, 70vw"
        fetchpriority="low"
        loading="eager"
        draggable="false"
      />
    </a>
    {
      (title || description) && (
        <figcaption class="sr-only">
          {title}
          {description ? ` — ${description}` : ""}
        </figcaption>
      )
    }
  </figure>
</article>
